<!-- child.html -->

{% extends 'index.html' %}

{% block title %}
Daily Numbers
{% endblock %}

{% block content %}


<div class="row">
    <div class="col">
        <div class="card">
            <div class="card-body">
                <ul class="nav nav-pills" id="myTab" role="tablist">
                    {% for battalion in DETAILED %}
                    <li class="nav-item" role="presentation">
                        <button class="nav-link {% if loop.first %}active{% endif %}" id="{{ battalion }}-tab" data-bs-toggle="tab" data-bs-target="#{{ battalion }}" type="button" role="tab" aria-controls="{{ battalion }}" aria-selected="{% if loop.first %}true{% else %}false{% endif %}">
                            {{ battalion[3:] }}
                        </button>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content" id="myTabContent">
                    {% for battalion, personnel in DETAILED.items() %}
                    <div class="tab-pane fade {% if loop.first %}show active{% endif %}" id="{{ battalion }}" role="tabpanel" aria-labelledby="{{ battalion }}-tab">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Assigned Battalion</th>
                                    <th></th>
                                    <th>Rank</th>
                                    <th>Detailed Personnel</th>
                                    <th>CurrentBatt</th>
                                    <th>Company</th>
                                    <th>Paycode</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for person in personnel %}
                                <tr>
                                    <td>Battalion {{ battalion[4:] }}</td>
                                    {% if person[5] == 'SL' %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </td>
                                    {% elif person[5] == 'LWOP' %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z"/>
                                        </svg>
                                    </td>
                                    {% elif person[5] == 'VL' %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-emoji-sunglasses" viewBox="0 0 16 16">
                                            <path d="M4.968 9.75a.5.5 0 1 0-.866.5A4.498 4.498 0 0 0 8 12.5a4.5 4.5 0 0 0 3.898-2.25.5.5 0 1 0-.866-.5A3.498 3.498 0 0 1 8 11.5a3.498 3.498 0 0 1-3.032-1.75zM7 5.116V5a1 1 0 0 0-1-1H3.28a1 1 0 0 0-.97 1.243l.311 1.242A2 2 0 0 0 4.561 8H5a2 2 0 0 0 1.994-1.839A2.99 2.99 0 0 1 8 6c.393 0 .74.064 1.006.161A2 2 0 0 0 11 8h.438a2 2 0 0 0 1.94-1.515l.311-1.242A1 1 0 0 0 12.72 4H10a1 1 0 0 0-1 1v.116A4.22 4.22 0 0 0 8 5c-.35 0-.69.04-1 .116z"/>
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-1 0A7 7 0 1 0 1 8a7 7 0 0 0 14 0z"/>
                                          </svg>
                                    </td>
                                    {% elif person[5] == 'SD' %}
                                    <td>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up" viewBox="0 0 16 16">
                                            <path fill-rule="evenodd" d="M3.5 6a.5.5 0 0 0-.5.5v8a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5v-8a.5.5 0 0 0-.5-.5h-2a.5.5 0 0 1 0-1h2A1.5 1.5 0 0 1 14 6.5v8a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 14.5v-8A1.5 1.5 0 0 1 3.5 5h2a.5.5 0 0 1 0 1h-2z"/>
                                            <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 1.707V10.5a.5.5 0 0 1-1 0V1.707L5.354 3.854a.5.5 0 1 1-.708-.708l3-3z"/>
                                          </svg>
                                    </td>
                                    {% else %}
                                    <td></td>
                                    {% endif %}
                                    <td>
                                        <span class="badge bg-primary">{{ person[0] }}</span>
                                    </td>
                                    <td>{{ person[1] }}</td>
                                    <td>{{ person[2] }}</td>
                                    <td>{{ person[3] }}</td>
                                    <td>{{ person[5] }}</td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
