<!-- child.html -->

{% extends 'index.html' %}

{% block title %}
Daily Numbers
{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Shift: {{ SHIFT[0] }}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Division 1: {{ DIV1 }}</h4>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body">
                <h4>Division 2: {{ DIV2 }}</h4>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-sm-3">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Battalion</th>
                            <th>Name</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>BATT 1</td>
                                <td>
                                    <span class="badge bg-success">{{ BC1 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 2</td>
                                <td>
                                    <span class="badge bg-success">{{ BC2 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 3</td>
                                <td>
                                    <span class="badge bg-success">{{ BC3 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 6</td>
                                <td>
                                    <span class="badge bg-success">{{ BC6 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 8</td>
                                <td>
                                    <span class="badge bg-success">{{ BC8 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 9</td>
                                <td>
                                    <span class="badge bg-success">{{ BC9 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT AR-C</td>
                                <td>
                                    <span class="badge bg-success">{{ BCAR }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 4</td>
                                <td>
                                    <span class="badge bg-success">{{ BC4 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 5</td>
                                <td>
                                    <span class="badge bg-success">{{ BC5 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 7</td>
                                <td>
                                    <span class="badge bg-success">{{ BC7 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 10</td>
                                <td>
                                    <span class="badge bg-success">{{ BC10 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 11</td>
                                <td>
                                    <span class="badge bg-success">{{ BC11 }}</span>
                                </td>
                            </tr>
                            <tr>
                                <td>BATT 20</td>
                                <td>
                                    <span class="badge bg-success">{{ BC20 }}</span>
                                </td>
                            </tr>
                           
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Fire Companies: ALS Companies {{ NUMBER_OF_ALS }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for battalion, personnel_units in BATTALION_DICT.items() %}
                        <tr>
                            <td>
                                {% for personnel_unit in personnel_units["companies"] %}
                                    {% if "BC" in personnel_unit %}
                                        <span></span>
                                    {% else %}
                                        {% if personnel_unit in ALS %}
                                        <span class="badge bg-primary">{{ personnel_unit }}</span>
                                        {% else %}
                                        <span class="badge bg-danger">{{ personnel_unit }}</span>
                                        {% endif %}
                                    {% endif %}
                                {% endfor %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-3">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Comp.</th>
                            <th>Req.</th>
                            <th>Avail.</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in COMPLIMENT.items() %}
                        <tr>
                            <td>
                                <span class="badge bg-primary">{{ v["compliment"].__len__() }}</span>
                            </td>
                            <td>{{ v["required"] }} </td>
                            <td></td>
                            <td></td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row pt-4">
    <div class="col-sm-4">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Paycode</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for paycode, count in PAYCODES.items() %}
                        
                        <tr>
                            <td>{{ paycode }}</td>
                            <td>
                                <span class="badge bg-primary">{{ count }}</span>
                            </td>
                        </tr>
             
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card shadow">
            <div class="card-body">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Ranks Off</th>
                            <th>Count</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for k, v in OFF_BY_RANK.items() %}
                        <tr>
                            <td>{{ k }}</td>
                            <td>
                                {% if v > 20 %}
                                <span class="badge bg-danger">{{ v }}</span>
                                {% elif v > 10 %}
                                <span class="badge bg-warning">{{ v }}</span>
                                {% else %}
                                <span class="badge bg-primary">{{ v }}</span>
                                {% endif %}
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
    
    

{% endblock %}
